* {
	box-sizing: border-box;
}

fieldset {
	width: 50vw;
	padding: 1em;
}

legend,
label {
	font-weight: bold;
}

input[type='email'],
input[type='password'] {
	margin: 0 0 1em 0;
	border: 1px solid gray;
}

input[type='submit'],
input[type='reset'] {
	background-color: white;
	border: 1px solid gray;
	border-radius: 5px;
	padding: 0.3em;
}
